.card-primary {
    &:hover {
        .card-primary__icon-wrapper {
            background-color: var(--heroui-primary-500);
            border-color: black;
            outline: 2px solid var(--heroui-primary-500);
        }

        .card-primary__icon {
            color: black;
        }
    }
}