@import "tailwindcss";

@config "../../tailwind.config.js";

.drag-drop-file-uploader {
    width: 100%;
    max-width: 100% !important;
    min-height: 200px !important;
    min-width: 100% !important;
    height: 100% !important;

}

.drag-drop-file-uploader svg,
.drag-drop-file-uploader span {
    display: none !important;
}

@layer base {
  :root {
    --chart-1: hsl(var(--heroui-primary));
    --chart-2: hsl(var(--heroui-secondary));
    --chart-3: hsl(var(--heroui-success));
    --chart-4: hsl(var(--heroui-warning));
    --chart-5: hsl(var(--heroui-danger));
  }

  .dark {
    --chart-1: hsl(var(--heroui-primary));
    --chart-2: hsl(var(--heroui-secondary));
    --chart-3: hsl(var(--heroui-success));
    --chart-4: hsl(var(--heroui-warning));
    --chart-5: hsl(var(--heroui-danger));
  }
}